In [1]:
import pandas as pd
import numpy as np
from pandas import read_csv
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer

In [2]:
SalaryData_Train = read_csv('SalaryData_Train.csv')
SalaryData_Train

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30156,27,Private,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
30157,40,Private,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
30158,58,Private,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
30159,22,Private,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
30160,52,Self-emp-inc,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [3]:
SalaryData_Test = read_csv('SalaryData_Test.csv')
SalaryData_Test

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,25,Private,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,34,Private,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15055,33,Private,Bachelors,13,Never-married,Prof-specialty,Own-child,White,Male,0,0,40,United-States,<=50K
15056,39,Private,Bachelors,13,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,36,United-States,<=50K
15057,38,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,<=50K
15058,44,Private,Bachelors,13,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,5455,0,40,United-States,<=50K
15059,35,Self-emp-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,>50K

In [4]:
#Strip trailing/leading spaces from data
SalaryData_Train['Salary'] = SalaryData_Train['Salary'].str.strip()
SalaryData_Train['native'] = SalaryData_Train['native'].str.strip()
SalaryData_Train['race'] = SalaryData_Train['race'].str.strip()
SalaryData_Train['relationship'] = SalaryData_Train['relationship'].str.strip()
SalaryData_Train['occupation'] = SalaryData_Train['occupation'].str.strip()
SalaryData_Train['maritalstatus'] = SalaryData_Train['maritalstatus'].str.strip()
SalaryData_Train['education'] = SalaryData_Train['education'].str.strip()
SalaryData_Train['workclass'] = SalaryData_Train['workclass'].str.strip()
SalaryData_Train['native'].unique()

array(['United-States', 'Cuba', 'Jamaica', 'India', 'Mexico',
       'Puerto-Rico', 'Honduras', 'England', 'Canada', 'Germany', 'Iran',
       'Philippines', 'Poland', 'Columbia', 'Cambodia', 'Thailand',
       'Ecuador', 'Laos', 'Taiwan', 'Haiti', 'Portugal',
       'Dominican-Republic', 'El-Salvador', 'France', 'Guatemala',
       'Italy', 'China', 'South', 'Japan', 'Yugoslavia', 'Peru',
       'Outlying-US(Guam-USVI-etc)', 'Scotland', 'Trinadad&Tobago',
       'Greece', 'Nicaragua', 'Vietnam', 'Hong', 'Ireland', 'Hungary'],
      dtype=object)

In [5]:
SalaryData_Train['sex'].replace([' Male',' Female'],[0,1],inplace=True)

In [6]:
SalaryData_Train_Dummies = pd.get_dummies(SalaryData_Train, columns=['native','race','relationship','occupation','maritalstatus','education','workclass'])
SalaryData_Train_Dummies

,age,educationno,sex,capitalgain,capitalloss,hoursperweek,Salary,native_Cambodia,native_Canada,native_China,...,education_Preschool,education_Prof-school,education_Some-college,workclass_Federal-gov,workclass_Local-gov,workclass_Private,workclass_Self-emp-inc,workclass_Self-emp-not-inc,workclass_State-gov,workclass_Without-pay
0,39,13,0,2174,0,40,<=50K,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,50,13,0,0,0,13,<=50K,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,38,9,0,0,0,40,<=50K,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,53,7,0,0,0,40,<=50K,0,0,0,...,0,0,0,0,0,1,0,0,0,0
4,28,13,1,0,0,40,<=50K,0,0,0,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30156,27,12,1,0,0,38,<=50K,0,0,0,...,0,0,0,0,0,1,0,0,0,0
30157,40,9,0,0,0,40,>50K,0,0,0,...,0,0,0,0,0,1,0,0,0,0
30158,58,9,1,0,0,40,<=50K,0,0,0,...,0,0,0,0,0,1,0,0,0,0
30159,22,9,0,0,0,20,<=50K,0,0,0,...,0,0,0,0,0,1,0,0,0,0
30160,52,9,1,15024,0,40,>50K,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [16]:
SalaryData_Train_Dummies_mm = pd.get_dummies(SalaryData_Train, columns=['native','race','relationship','occupation','maritalstatus','education','workclass'])
SalaryData_Train_Dummies_mm

,age,educationno,sex,capitalgain,capitalloss,hoursperweek,Salary,native_Cambodia,native_Canada,native_China,...,education_Preschool,education_Prof-school,education_Some-college,workclass_Federal-gov,workclass_Local-gov,workclass_Private,workclass_Self-emp-inc,workclass_Self-emp-not-inc,workclass_State-gov,workclass_Without-pay
0,39,13,0,2174,0,40,<=50K,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,50,13,0,0,0,13,<=50K,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,38,9,0,0,0,40,<=50K,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,53,7,0,0,0,40,<=50K,0,0,0,...,0,0,0,0,0,1,0,0,0,0
4,28,13,1,0,0,40,<=50K,0,0,0,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30156,27,12,1,0,0,38,<=50K,0,0,0,...,0,0,0,0,0,1,0,0,0,0
30157,40,9,0,0,0,40,>50K,0,0,0,...,0,0,0,0,0,1,0,0,0,0
30158,58,9,1,0,0,40,<=50K,0,0,0,...,0,0,0,0,0,1,0,0,0,0
30159,22,9,0,0,0,20,<=50K,0,0,0,...,0,0,0,0,0,1,0,0,0,0
30160,52,9,1,15024,0,40,>50K,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [7]:
#Standardize these columns age, educationno, capitalgain, capitalloss, hoursperweek
SalaryData_Train_Dummies_stndrd = SalaryData_Train_Dummies[['age', 'educationno', 'capitalgain', 'capitalloss', 'hoursperweek']]
SalaryData_Train_Dummies_stndrd

       age  educationno  capitalgain  capitalloss  hoursperweek
0       39           13         2174            0            40
1       50           13            0            0            13
2       38            9            0            0            40
3       53            7            0            0            40
4       28           13            0            0            40
...    ...          ...          ...          ...           ...
30156   27           12            0            0            38
30157   40            9            0            0            40
30158   58            9            0            0            40
30159   22            9            0            0            20
30160   52            9        15024            0            40

[30161 rows x 5 columns]

In [13]:
#APPLY MinMax scalar to obtain values b/n 0 to 1 and this eliminated -ve values, that is blocked by Naive Bayes algorithm these columns age, educationno, capitalgain, capitalloss, hoursperweek
SalaryData_Train_Dummies_MinMaxScalar = SalaryData_Train_Dummies[['age', 'educationno', 'capitalgain', 'capitalloss', 'hoursperweek']]
SalaryData_Train_Dummies_MinMaxScalar

       age  educationno  capitalgain  capitalloss  hoursperweek
0       39           13         2174            0            40
1       50           13            0            0            13
2       38            9            0            0            40
3       53            7            0            0            40
4       28           13            0            0            40
...    ...          ...          ...          ...           ...
30156   27           12            0            0            38
30157   40            9            0            0            40
30158   58            9            0            0            40
30159   22            9            0            0            20
30160   52            9        15024            0            40

[30161 rows x 5 columns]

In [9]:
from sklearn.preprocessing import StandardScaler

In [10]:
#Making whole data into one format
sc= StandardScaler()
sc.fit(SalaryData_Train_Dummies_stndrd)
SalaryData_Train_Dummies_stndrd = sc.transform(SalaryData_Train_Dummies_stndrd)
SalaryData_Train_Dummies_stndrd

array([[ 0.04277892,  1.12889813,  0.14608503, -0.21850808, -0.07773541],
       [ 0.88026081,  1.12889813, -0.14744712, -0.21850808, -2.33149486],
       [-0.0333558 , -0.4397325 , -0.14744712, -0.21850808, -0.07773541],
       ...,
       [ 1.48933854, -0.4397325 , -0.14744712, -0.21850808, -0.07773541],
       [-1.25151126, -0.4397325 , -0.14744712, -0.21850808, -1.74718685],
       [ 1.03253024, -0.4397325 ,  1.88108414, -0.21850808, -0.07773541]])

In [11]:
from sklearn.preprocessing import MinMaxScaler

In [14]:
#Making whole data into one format
mm = MinMaxScaler()
mm.fit(SalaryData_Train_Dummies_MinMaxScalar)
SalaryData_Train_Dummies_MinMaxScalar = mm.transform(SalaryData_Train_Dummies_MinMaxScalar)
SalaryData_Train_Dummies_MinMaxScalar

array([[0.30136986, 0.8       , 0.02174022, 0.        , 0.39795918],
       [0.45205479, 0.8       , 0.        , 0.        , 0.12244898],
       [0.28767123, 0.53333333, 0.        , 0.        , 0.39795918],
       ...,
       [0.56164384, 0.53333333, 0.        , 0.        , 0.39795918],
       [0.06849315, 0.53333333, 0.        , 0.        , 0.19387755],
       [0.47945205, 0.53333333, 0.1502415 , 0.        , 0.39795918]])

In [15]:
SalaryData_Train_Dummies_MinMaxScalar[:,4:5]

array([[0.39795918],
       [0.12244898],
       [0.39795918],
       ...,
       [0.39795918],
       [0.19387755],
       [0.39795918]])

In [17]:
SalaryData_Train_Dummies_mm['age'] = SalaryData_Train_Dummies_MinMaxScalar[:,:1]
SalaryData_Train_Dummies_mm['educationno'] = SalaryData_Train_Dummies_MinMaxScalar[:,1:2]
SalaryData_Train_Dummies_mm['capitalgain'] = SalaryData_Train_Dummies_MinMaxScalar[:,2:3]
SalaryData_Train_Dummies_mm['capitalloss'] = SalaryData_Train_Dummies_MinMaxScalar[:,3:4]
SalaryData_Train_Dummies_mm['hoursperweek'] = SalaryData_Train_Dummies_MinMaxScalar[:,4:5]
SalaryData_Train_Dummies_mm

,age,educationno,sex,capitalgain,capitalloss,hoursperweek,Salary,native_Cambodia,native_Canada,native_China,...,education_Preschool,education_Prof-school,education_Some-college,workclass_Federal-gov,workclass_Local-gov,workclass_Private,workclass_Self-emp-inc,workclass_Self-emp-not-inc,workclass_State-gov,workclass_Without-pay
0,0.301370,0.800000,0,0.021740,0.0,0.397959,<=50K,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,0.452055,0.800000,0,0.000000,0.0,0.122449,<=50K,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,0.287671,0.533333,0,0.000000,0.0,0.397959,<=50K,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,0.493151,0.400000,0,0.000000,0.0,0.397959,<=50K,0,0,0,...,0,0,0,0,0,1,0,0,0,0
4,0.150685,0.800000,1,0.000000,0.0,0.397959,<=50K,0,0,0,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30156,0.136986,0.733333,1,0.000000,0.0,0.377551,<=50K,0,0,0,...,0,0,0,0,0,1,0,0,0,0
30157,0.315068,0.533333,0,0.000000,0.0,0.397959,>50K,0,0,0,...,0,0,0,0,0,1,0,0,0,0
30158,0.561644,0.533333,1,0.000000,0.0,0.397959,<=50K,0,0,0,...,0,0,0,0,0,1,0,0,0,0
30159,0.068493,0.533333,0,0.000000,0.0,0.193878,<=50K,0,0,0,...,0,0,0,0,0,1,0,0,0,0
30160,0.479452,0.533333,1,0.150242,0.0,0.397959,>50K,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [11]:
SalaryData_Train_Dummies['age'] = SalaryData_Train_Dummies_stndrd[:,:1]
SalaryData_Train_Dummies['educationno'] = SalaryData_Train_Dummies_stndrd[:,1:2]
SalaryData_Train_Dummies['capitalgain'] = SalaryData_Train_Dummies_stndrd[:,2:3]
SalaryData_Train_Dummies['capitalloss'] = SalaryData_Train_Dummies_stndrd[:,3:4]
SalaryData_Train_Dummies['hoursperweek'] = SalaryData_Train_Dummies_stndrd[:,4:5]
SalaryData_Train_Dummies

,age,educationno,sex,capitalgain,capitalloss,hoursperweek,Salary,native_Cambodia,native_Canada,native_China,...,education_Preschool,education_Prof-school,education_Some-college,workclass_Federal-gov,workclass_Local-gov,workclass_Private,workclass_Self-emp-inc,workclass_Self-emp-not-inc,workclass_State-gov,workclass_Without-pay
0,0.042779,1.128898,0,0.146085,-0.218508,-0.077735,<=50K,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,0.880261,1.128898,0,-0.147447,-0.218508,-2.331495,<=50K,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,-0.033356,-0.439733,0,-0.147447,-0.218508,-0.077735,<=50K,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,1.108665,-1.224048,0,-0.147447,-0.218508,-0.077735,<=50K,0,0,0,...,0,0,0,0,0,1,0,0,0,0
4,-0.794703,1.128898,1,-0.147447,-0.218508,-0.077735,<=50K,0,0,0,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30156,-0.870838,0.736740,1,-0.147447,-0.218508,-0.244681,<=50K,0,0,0,...,0,0,0,0,0,1,0,0,0,0
30157,0.118914,-0.439733,0,-0.147447,-0.218508,-0.077735,>50K,0,0,0,...,0,0,0,0,0,1,0,0,0,0
30158,1.489339,-0.439733,1,-0.147447,-0.218508,-0.077735,<=50K,0,0,0,...,0,0,0,0,0,1,0,0,0,0
30159,-1.251511,-0.439733,0,-0.147447,-0.218508,-1.747187,<=50K,0,0,0,...,0,0,0,0,0,1,0,0,0,0
30160,1.032530,-0.439733,1,1.881084,-0.218508,-0.077735,>50K,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [18]:
SalaryData_Train_Dummies = SalaryData_Train_Dummies[['age',  'educationno',  'sex',  'capitalgain',  'capitalloss',  'hoursperweek',  'native_Cambodia',  'native_Canada',  'native_China',  'native_Columbia',  'native_Cuba',  'native_Dominican-Republic',  'native_Ecuador',  'native_El-Salvador',  'native_England',  'native_France',  'native_Germany',  'native_Greece',  'native_Guatemala',  'native_Haiti',  'native_Honduras',  'native_Hong',  'native_Hungary',  'native_India',  'native_Iran',  'native_Ireland',  'native_Italy',  'native_Jamaica',  'native_Japan',  'native_Laos',  'native_Mexico',  'native_Nicaragua',  'native_Outlying-US(Guam-USVI-etc)',  'native_Peru',  'native_Philippines',  'native_Poland',  'native_Portugal',  'native_Puerto-Rico',  'native_Scotland',  'native_South',  'native_Taiwan',  'native_Thailand',  'native_Trinadad&Tobago',  'native_United-States',  'native_Vietnam',  'native_Yugoslavia',  'race_Amer-Indian-Eskimo',  'race_Asian-Pac-Islander',  'race_Black',  'race_Other',  'race_White',  'relationship_Husband',  'relationship_Not-in-family',  'relationship_Other-relative',  'relationship_Own-child',  'relationship_Unmarried',  'relationship_Wife',  'occupation_Adm-clerical',  'occupation_Armed-Forces',  'occupation_Craft-repair',  'occupation_Exec-managerial',  'occupation_Farming-fishing',  'occupation_Handlers-cleaners',  'occupation_Machine-op-inspct',  'occupation_Other-service',  'occupation_Priv-house-serv',  'occupation_Prof-specialty',  'occupation_Protective-serv',  'occupation_Sales',  'occupation_Tech-support',  'occupation_Transport-moving',  'maritalstatus_Divorced',  'maritalstatus_Married-AF-spouse',  'maritalstatus_Married-civ-spouse',  'maritalstatus_Married-spouse-absent',  'maritalstatus_Never-married',  'maritalstatus_Separated',  'maritalstatus_Widowed',  'education_10th',  'education_11th',  'education_12th',  'education_1st-4th',  'education_5th-6th',  'education_7th-8th',  'education_9th',  'education_Assoc-acdm',  'education_Assoc-voc',  'education_Bachelors',  'education_Doctorate',  'education_HS-grad',  'education_Masters',  'education_Preschool',  'education_Prof-school',  'education_Some-college',  'workclass_Federal-gov',  'workclass_Local-gov',  'workclass_Private',  'workclass_Self-emp-inc',  'workclass_Self-emp-not-inc',  'workclass_State-gov',  'workclass_Without-pay',  'Salary']]
SalaryData_Train_Dummies

,age,educationno,sex,capitalgain,capitalloss,hoursperweek,native_Cambodia,native_Canada,native_China,native_Columbia,...,education_Prof-school,education_Some-college,workclass_Federal-gov,workclass_Local-gov,workclass_Private,workclass_Self-emp-inc,workclass_Self-emp-not-inc,workclass_State-gov,workclass_Without-pay,Salary
0,39,13,0,2174,0,40,0,0,0,0,...,0,0,0,0,0,0,0,1,0,<=50K
1,50,13,0,0,0,13,0,0,0,0,...,0,0,0,0,0,0,1,0,0,<=50K
2,38,9,0,0,0,40,0,0,0,0,...,0,0,0,0,1,0,0,0,0,<=50K
3,53,7,0,0,0,40,0,0,0,0,...,0,0,0,0,1,0,0,0,0,<=50K
4,28,13,1,0,0,40,0,0,0,0,...,0,0,0,0,1,0,0,0,0,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30156,27,12,1,0,0,38,0,0,0,0,...,0,0,0,0,1,0,0,0,0,<=50K
30157,40,9,0,0,0,40,0,0,0,0,...,0,0,0,0,1,0,0,0,0,>50K
30158,58,9,1,0,0,40,0,0,0,0,...,0,0,0,0,1,0,0,0,0,<=50K
30159,22,9,0,0,0,20,0,0,0,0,...,0,0,0,0,1,0,0,0,0,<=50K
30160,52,9,1,15024,0,40,0,0,0,0,...,0,0,0,0,0,1,0,0,0,>50K

In [19]:
SalaryData_Train_Dummies_mm = SalaryData_Train_Dummies_mm[['age',  'educationno',  'sex',  'capitalgain',  'capitalloss',  'hoursperweek',  'native_Cambodia',  'native_Canada',  'native_China',  'native_Columbia',  'native_Cuba',  'native_Dominican-Republic',  'native_Ecuador',  'native_El-Salvador',  'native_England',  'native_France',  'native_Germany',  'native_Greece',  'native_Guatemala',  'native_Haiti',  'native_Honduras',  'native_Hong',  'native_Hungary',  'native_India',  'native_Iran',  'native_Ireland',  'native_Italy',  'native_Jamaica',  'native_Japan',  'native_Laos',  'native_Mexico',  'native_Nicaragua',  'native_Outlying-US(Guam-USVI-etc)',  'native_Peru',  'native_Philippines',  'native_Poland',  'native_Portugal',  'native_Puerto-Rico',  'native_Scotland',  'native_South',  'native_Taiwan',  'native_Thailand',  'native_Trinadad&Tobago',  'native_United-States',  'native_Vietnam',  'native_Yugoslavia',  'race_Amer-Indian-Eskimo',  'race_Asian-Pac-Islander',  'race_Black',  'race_Other',  'race_White',  'relationship_Husband',  'relationship_Not-in-family',  'relationship_Other-relative',  'relationship_Own-child',  'relationship_Unmarried',  'relationship_Wife',  'occupation_Adm-clerical',  'occupation_Armed-Forces',  'occupation_Craft-repair',  'occupation_Exec-managerial',  'occupation_Farming-fishing',  'occupation_Handlers-cleaners',  'occupation_Machine-op-inspct',  'occupation_Other-service',  'occupation_Priv-house-serv',  'occupation_Prof-specialty',  'occupation_Protective-serv',  'occupation_Sales',  'occupation_Tech-support',  'occupation_Transport-moving',  'maritalstatus_Divorced',  'maritalstatus_Married-AF-spouse',  'maritalstatus_Married-civ-spouse',  'maritalstatus_Married-spouse-absent',  'maritalstatus_Never-married',  'maritalstatus_Separated',  'maritalstatus_Widowed',  'education_10th',  'education_11th',  'education_12th',  'education_1st-4th',  'education_5th-6th',  'education_7th-8th',  'education_9th',  'education_Assoc-acdm',  'education_Assoc-voc',  'education_Bachelors',  'education_Doctorate',  'education_HS-grad',  'education_Masters',  'education_Preschool',  'education_Prof-school',  'education_Some-college',  'workclass_Federal-gov',  'workclass_Local-gov',  'workclass_Private',  'workclass_Self-emp-inc',  'workclass_Self-emp-not-inc',  'workclass_State-gov',  'workclass_Without-pay',  'Salary']]
SalaryData_Train_Dummies_mm

,age,educationno,sex,capitalgain,capitalloss,hoursperweek,native_Cambodia,native_Canada,native_China,native_Columbia,...,education_Prof-school,education_Some-college,workclass_Federal-gov,workclass_Local-gov,workclass_Private,workclass_Self-emp-inc,workclass_Self-emp-not-inc,workclass_State-gov,workclass_Without-pay,Salary
0,0.301370,0.800000,0,0.021740,0.0,0.397959,0,0,0,0,...,0,0,0,0,0,0,0,1,0,<=50K
1,0.452055,0.800000,0,0.000000,0.0,0.122449,0,0,0,0,...,0,0,0,0,0,0,1,0,0,<=50K
2,0.287671,0.533333,0,0.000000,0.0,0.397959,0,0,0,0,...,0,0,0,0,1,0,0,0,0,<=50K
3,0.493151,0.400000,0,0.000000,0.0,0.397959,0,0,0,0,...,0,0,0,0,1,0,0,0,0,<=50K
4,0.150685,0.800000,1,0.000000,0.0,0.397959,0,0,0,0,...,0,0,0,0,1,0,0,0,0,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30156,0.136986,0.733333,1,0.000000,0.0,0.377551,0,0,0,0,...,0,0,0,0,1,0,0,0,0,<=50K
30157,0.315068,0.533333,0,0.000000,0.0,0.397959,0,0,0,0,...,0,0,0,0,1,0,0,0,0,>50K
30158,0.561644,0.533333,1,0.000000,0.0,0.397959,0,0,0,0,...,0,0,0,0,1,0,0,0,0,<=50K
30159,0.068493,0.533333,0,0.000000,0.0,0.193878,0,0,0,0,...,0,0,0,0,1,0,0,0,0,<=50K
30160,0.479452,0.533333,1,0.150242,0.0,0.397959,0,0,0,0,...,0,0,0,0,0,1,0,0,0,>50K

In [20]:
array = SalaryData_Train_Dummies.values
X = array[:,0:101]
Y = array[:,101]
Y

array(['<=50K', '<=50K', '<=50K', ..., '<=50K', '<=50K', '>50K'],
      dtype=object)

In [21]:
array = SalaryData_Train_Dummies_mm.values
X_mm = array[:,0:101]
Y_mm = array[:,101]
Y_mm

array(['<=50K', '<=50K', '<=50K', ..., '<=50K', '<=50K', '>50K'],
      dtype=object)

In [22]:
# training the model on training set
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
gnb.fit(X, Y)

GaussianNB()

In [23]:
# training the model on training set
from sklearn.naive_bayes import GaussianNB
gnb_mm = GaussianNB()
gnb_mm.fit(X_mm, Y_mm)

GaussianNB()

In [24]:
SalaryData_Test

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,25,Private,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,34,Private,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15055,33,Private,Bachelors,13,Never-married,Prof-specialty,Own-child,White,Male,0,0,40,United-States,<=50K
15056,39,Private,Bachelors,13,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,36,United-States,<=50K
15057,38,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,<=50K
15058,44,Private,Bachelors,13,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,5455,0,40,United-States,<=50K
15059,35,Self-emp-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,>50K

In [25]:
#Strip trailing/leading spaces from data
SalaryData_Test['Salary'] = SalaryData_Test['Salary'].str.strip()
SalaryData_Test['native'] = SalaryData_Test['native'].str.strip()
SalaryData_Test['race'] = SalaryData_Test['race'].str.strip()
SalaryData_Test['relationship'] = SalaryData_Test['relationship'].str.strip()
SalaryData_Test['occupation'] = SalaryData_Test['occupation'].str.strip()
SalaryData_Test['maritalstatus'] = SalaryData_Test['maritalstatus'].str.strip()
SalaryData_Test['education'] = SalaryData_Test['education'].str.strip()
SalaryData_Test['workclass'] = SalaryData_Test['workclass'].str.strip()
SalaryData_Test['native'].unique()

array(['United-States', 'Peru', 'Guatemala', 'Mexico',
       'Dominican-Republic', 'Ireland', 'Germany', 'Philippines',
       'Thailand', 'Haiti', 'El-Salvador', 'Puerto-Rico', 'Vietnam',
       'South', 'Columbia', 'Japan', 'India', 'Cambodia', 'Poland',
       'Laos', 'England', 'Cuba', 'Taiwan', 'Italy', 'Canada', 'Portugal',
       'China', 'Nicaragua', 'Honduras', 'Iran', 'Scotland', 'Jamaica',
       'Ecuador', 'Yugoslavia', 'Hungary', 'Hong', 'Greece',
       'Trinadad&Tobago', 'Outlying-US(Guam-USVI-etc)', 'France'],
      dtype=object)

In [26]:
SalaryData_Test['sex'].replace([' Male',' Female'],[0,1],inplace=True)
SalaryData_Test['sex'].unique()

array([0, 1], dtype=int64)

In [27]:
SalaryData_Test_Dummies = pd.get_dummies(SalaryData_Test, columns=['native','race','relationship','occupation','maritalstatus','education','workclass'])
SalaryData_Test_Dummies

,age,educationno,sex,capitalgain,capitalloss,hoursperweek,Salary,native_Cambodia,native_Canada,native_China,...,education_Preschool,education_Prof-school,education_Some-college,workclass_Federal-gov,workclass_Local-gov,workclass_Private,workclass_Self-emp-inc,workclass_Self-emp-not-inc,workclass_State-gov,workclass_Without-pay
0,25,7,0,0,0,40,<=50K,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,38,9,0,0,0,50,<=50K,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,28,12,0,0,0,40,>50K,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3,44,10,0,7688,0,40,>50K,0,0,0,...,0,0,1,0,0,1,0,0,0,0
4,34,6,0,0,0,30,<=50K,0,0,0,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15055,33,13,0,0,0,40,<=50K,0,0,0,...,0,0,0,0,0,1,0,0,0,0
15056,39,13,1,0,0,36,<=50K,0,0,0,...,0,0,0,0,0,1,0,0,0,0
15057,38,13,0,0,0,50,<=50K,0,0,0,...,0,0,0,0,0,1,0,0,0,0
15058,44,13,0,5455,0,40,<=50K,0,0,0,...,0,0,0,0,0,1,0,0,0,0
15059,35,13,0,0,0,60,>50K,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [28]:
SalaryData_Test_Dummies_mm = pd.get_dummies(SalaryData_Test, columns=['native','race','relationship','occupation','maritalstatus','education','workclass'])
SalaryData_Test_Dummies_mm

,age,educationno,sex,capitalgain,capitalloss,hoursperweek,Salary,native_Cambodia,native_Canada,native_China,...,education_Preschool,education_Prof-school,education_Some-college,workclass_Federal-gov,workclass_Local-gov,workclass_Private,workclass_Self-emp-inc,workclass_Self-emp-not-inc,workclass_State-gov,workclass_Without-pay
0,25,7,0,0,0,40,<=50K,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,38,9,0,0,0,50,<=50K,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,28,12,0,0,0,40,>50K,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3,44,10,0,7688,0,40,>50K,0,0,0,...,0,0,1,0,0,1,0,0,0,0
4,34,6,0,0,0,30,<=50K,0,0,0,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15055,33,13,0,0,0,40,<=50K,0,0,0,...,0,0,0,0,0,1,0,0,0,0
15056,39,13,1,0,0,36,<=50K,0,0,0,...,0,0,0,0,0,1,0,0,0,0
15057,38,13,0,0,0,50,<=50K,0,0,0,...,0,0,0,0,0,1,0,0,0,0
15058,44,13,0,5455,0,40,<=50K,0,0,0,...,0,0,0,0,0,1,0,0,0,0
15059,35,13,0,0,0,60,>50K,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [29]:
#Standardize these columns age, educationno, capitalgain, capitalloss, hoursperweek
SalaryData_Test_Dummies_stndrd = SalaryData_Test_Dummies[['age', 'educationno', 'capitalgain', 'capitalloss', 'hoursperweek']]
SalaryData_Test_Dummies_stndrd

       age  educationno  capitalgain  capitalloss  hoursperweek
0       25            7            0            0            40
1       38            9            0            0            50
2       28           12            0            0            40
3       44           10         7688            0            40
4       34            6            0            0            30
...    ...          ...          ...          ...           ...
15055   33           13            0            0            40
15056   39           13            0            0            36
15057   38           13            0            0            50
15058   44           13         5455            0            40
15059   35           13            0            0            60

[15060 rows x 5 columns]

In [30]:
#Standardize these columns age, educationno, capitalgain, capitalloss, hoursperweek
SalaryData_Test_Dummies_mm_temp = SalaryData_Test_Dummies[['age', 'educationno', 'capitalgain', 'capitalloss', 'hoursperweek']]
SalaryData_Test_Dummies_mm_temp

       age  educationno  capitalgain  capitalloss  hoursperweek
0       25            7            0            0            40
1       38            9            0            0            50
2       28           12            0            0            40
3       44           10         7688            0            40
4       34            6            0            0            30
...    ...          ...          ...          ...           ...
15055   33           13            0            0            40
15056   39           13            0            0            36
15057   38           13            0            0            50
15058   44           13         5455            0            40
15059   35           13            0            0            60

[15060 rows x 5 columns]

In [31]:
#Making whole data into one format
sc.fit(SalaryData_Test_Dummies_stndrd)
SalaryData_Test_Dummies_stndrd = sc.transform(SalaryData_Test_Dummies_stndrd)
SalaryData_Test_Dummies_stndrd

array([[-1.02900513, -1.2165628 , -0.14543845, -0.2191694 , -0.07888904],
       [-0.05742253, -0.43489824, -0.14543845, -0.2191694 ,  0.75013125],
       [-0.80479376,  0.73759862, -0.14543845, -0.2191694 , -0.07888904],
       ...,
       [-0.05742253,  1.1284309 , -0.14543845, -0.2191694 ,  0.75013125],
       [ 0.39100021,  1.1284309 ,  0.562734  , -0.2191694 , -0.07888904],
       [-0.2816339 ,  1.1284309 , -0.14543845, -0.2191694 ,  1.57915155]])

In [32]:
#Making whole data into one format
mm = MinMaxScaler()
mm.fit(SalaryData_Test_Dummies_mm_temp)
SalaryData_Test_Dummies_mm_temp = mm.transform(SalaryData_Test_Dummies_mm_temp)
SalaryData_Test_Dummies_mm_temp

array([[0.10958904, 0.4       , 0.        , 0.        , 0.39795918],
       [0.28767123, 0.53333333, 0.        , 0.        , 0.5       ],
       [0.15068493, 0.73333333, 0.        , 0.        , 0.39795918],
       ...,
       [0.28767123, 0.8       , 0.        , 0.        , 0.5       ],
       [0.36986301, 0.8       , 0.05455055, 0.        , 0.39795918],
       [0.24657534, 0.8       , 0.        , 0.        , 0.60204082]])

In [33]:
SalaryData_Test_Dummies['age'] = SalaryData_Test_Dummies_stndrd[:,:1]
SalaryData_Test_Dummies['educationno'] = SalaryData_Test_Dummies_stndrd[:,1:2]
SalaryData_Test_Dummies['capitalgain'] = SalaryData_Test_Dummies_stndrd[:,2:3]
SalaryData_Test_Dummies['capitalloss'] = SalaryData_Test_Dummies_stndrd[:,3:4]
SalaryData_Test_Dummies['hoursperweek'] = SalaryData_Test_Dummies_stndrd[:,4:5]
SalaryData_Test_Dummies

,age,educationno,sex,capitalgain,capitalloss,hoursperweek,Salary,native_Cambodia,native_Canada,native_China,...,education_Preschool,education_Prof-school,education_Some-college,workclass_Federal-gov,workclass_Local-gov,workclass_Private,workclass_Self-emp-inc,workclass_Self-emp-not-inc,workclass_State-gov,workclass_Without-pay
0,-1.029005,-1.216563,0,-0.145438,-0.219169,-0.078889,<=50K,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,-0.057423,-0.434898,0,-0.145438,-0.219169,0.750131,<=50K,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,-0.804794,0.737599,0,-0.145438,-0.219169,-0.078889,>50K,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3,0.391000,-0.044066,0,0.852624,-0.219169,-0.078889,>50K,0,0,0,...,0,0,1,0,0,1,0,0,0,0
4,-0.356371,-1.607395,0,-0.145438,-0.219169,-0.907909,<=50K,0,0,0,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15055,-0.431108,1.128431,0,-0.145438,-0.219169,-0.078889,<=50K,0,0,0,...,0,0,0,0,0,1,0,0,0,0
15056,0.017315,1.128431,1,-0.145438,-0.219169,-0.410497,<=50K,0,0,0,...,0,0,0,0,0,1,0,0,0,0
15057,-0.057423,1.128431,0,-0.145438,-0.219169,0.750131,<=50K,0,0,0,...,0,0,0,0,0,1,0,0,0,0
15058,0.391000,1.128431,0,0.562734,-0.219169,-0.078889,<=50K,0,0,0,...,0,0,0,0,0,1,0,0,0,0
15059,-0.281634,1.128431,0,-0.145438,-0.219169,1.579152,>50K,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [34]:
SalaryData_Test_Dummies_mm['age'] = SalaryData_Test_Dummies_mm_temp[:,:1]
SalaryData_Test_Dummies_mm['educationno'] = SalaryData_Test_Dummies_mm_temp[:,1:2]
SalaryData_Test_Dummies_mm['capitalgain'] = SalaryData_Test_Dummies_mm_temp[:,2:3]
SalaryData_Test_Dummies_mm['capitalloss'] = SalaryData_Test_Dummies_mm_temp[:,3:4]
SalaryData_Test_Dummies_mm['hoursperweek'] = SalaryData_Test_Dummies_mm_temp[:,4:5]
SalaryData_Test_Dummies_mm

,age,educationno,sex,capitalgain,capitalloss,hoursperweek,Salary,native_Cambodia,native_Canada,native_China,...,education_Preschool,education_Prof-school,education_Some-college,workclass_Federal-gov,workclass_Local-gov,workclass_Private,workclass_Self-emp-inc,workclass_Self-emp-not-inc,workclass_State-gov,workclass_Without-pay
0,0.109589,0.400000,0,0.000000,0.0,0.397959,<=50K,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,0.287671,0.533333,0,0.000000,0.0,0.500000,<=50K,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,0.150685,0.733333,0,0.000000,0.0,0.397959,>50K,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3,0.369863,0.600000,0,0.076881,0.0,0.397959,>50K,0,0,0,...,0,0,1,0,0,1,0,0,0,0
4,0.232877,0.333333,0,0.000000,0.0,0.295918,<=50K,0,0,0,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15055,0.219178,0.800000,0,0.000000,0.0,0.397959,<=50K,0,0,0,...,0,0,0,0,0,1,0,0,0,0
15056,0.301370,0.800000,1,0.000000,0.0,0.357143,<=50K,0,0,0,...,0,0,0,0,0,1,0,0,0,0
15057,0.287671,0.800000,0,0.000000,0.0,0.500000,<=50K,0,0,0,...,0,0,0,0,0,1,0,0,0,0
15058,0.369863,0.800000,0,0.054551,0.0,0.397959,<=50K,0,0,0,...,0,0,0,0,0,1,0,0,0,0
15059,0.246575,0.800000,0,0.000000,0.0,0.602041,>50K,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [35]:
SalaryData_Test_Dummies = SalaryData_Test_Dummies[['age',  'educationno',  'sex',  'capitalgain',  'capitalloss',  'hoursperweek',  'native_Cambodia',  'native_Canada',  'native_China',  'native_Columbia',  'native_Cuba',  'native_Dominican-Republic',  'native_Ecuador',  'native_El-Salvador',  'native_England',  'native_France',  'native_Germany',  'native_Greece',  'native_Guatemala',  'native_Haiti',  'native_Honduras',  'native_Hong',  'native_Hungary',  'native_India',  'native_Iran',  'native_Ireland',  'native_Italy',  'native_Jamaica',  'native_Japan',  'native_Laos',  'native_Mexico',  'native_Nicaragua',  'native_Outlying-US(Guam-USVI-etc)',  'native_Peru',  'native_Philippines',  'native_Poland',  'native_Portugal',  'native_Puerto-Rico',  'native_Scotland',  'native_South',  'native_Taiwan',  'native_Thailand',  'native_Trinadad&Tobago',  'native_United-States',  'native_Vietnam',  'native_Yugoslavia',  'race_Amer-Indian-Eskimo',  'race_Asian-Pac-Islander',  'race_Black',  'race_Other',  'race_White',  'relationship_Husband',  'relationship_Not-in-family',  'relationship_Other-relative',  'relationship_Own-child',  'relationship_Unmarried',  'relationship_Wife',  'occupation_Adm-clerical',  'occupation_Armed-Forces',  'occupation_Craft-repair',  'occupation_Exec-managerial',  'occupation_Farming-fishing',  'occupation_Handlers-cleaners',  'occupation_Machine-op-inspct',  'occupation_Other-service',  'occupation_Priv-house-serv',  'occupation_Prof-specialty',  'occupation_Protective-serv',  'occupation_Sales',  'occupation_Tech-support',  'occupation_Transport-moving',  'maritalstatus_Divorced',  'maritalstatus_Married-AF-spouse',  'maritalstatus_Married-civ-spouse',  'maritalstatus_Married-spouse-absent',  'maritalstatus_Never-married',  'maritalstatus_Separated',  'maritalstatus_Widowed',  'education_10th',  'education_11th',  'education_12th',  'education_1st-4th',  'education_5th-6th',  'education_7th-8th',  'education_9th',  'education_Assoc-acdm',  'education_Assoc-voc',  'education_Bachelors',  'education_Doctorate',  'education_HS-grad',  'education_Masters',  'education_Preschool',  'education_Prof-school',  'education_Some-college',  'workclass_Federal-gov',  'workclass_Local-gov',  'workclass_Private',  'workclass_Self-emp-inc',  'workclass_Self-emp-not-inc',  'workclass_State-gov',  'workclass_Without-pay',  'Salary']]
SalaryData_Test_Dummies

,age,educationno,sex,capitalgain,capitalloss,hoursperweek,native_Cambodia,native_Canada,native_China,native_Columbia,...,education_Prof-school,education_Some-college,workclass_Federal-gov,workclass_Local-gov,workclass_Private,workclass_Self-emp-inc,workclass_Self-emp-not-inc,workclass_State-gov,workclass_Without-pay,Salary
0,-1.029005,-1.216563,0,-0.145438,-0.219169,-0.078889,0,0,0,0,...,0,0,0,0,1,0,0,0,0,<=50K
1,-0.057423,-0.434898,0,-0.145438,-0.219169,0.750131,0,0,0,0,...,0,0,0,0,1,0,0,0,0,<=50K
2,-0.804794,0.737599,0,-0.145438,-0.219169,-0.078889,0,0,0,0,...,0,0,0,1,0,0,0,0,0,>50K
3,0.391000,-0.044066,0,0.852624,-0.219169,-0.078889,0,0,0,0,...,0,1,0,0,1,0,0,0,0,>50K
4,-0.356371,-1.607395,0,-0.145438,-0.219169,-0.907909,0,0,0,0,...,0,0,0,0,1,0,0,0,0,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15055,-0.431108,1.128431,0,-0.145438,-0.219169,-0.078889,0,0,0,0,...,0,0,0,0,1,0,0,0,0,<=50K
15056,0.017315,1.128431,1,-0.145438,-0.219169,-0.410497,0,0,0,0,...,0,0,0,0,1,0,0,0,0,<=50K
15057,-0.057423,1.128431,0,-0.145438,-0.219169,0.750131,0,0,0,0,...,0,0,0,0,1,0,0,0,0,<=50K
15058,0.391000,1.128431,0,0.562734,-0.219169,-0.078889,0,0,0,0,...,0,0,0,0,1,0,0,0,0,<=50K
15059,-0.281634,1.128431,0,-0.145438,-0.219169,1.579152,0,0,0,0,...,0,0,0,0,0,1,0,0,0,>50K

In [36]:
SalaryData_Test_Dummies_mm = SalaryData_Test_Dummies_mm[['age',  'educationno',  'sex',  'capitalgain',  'capitalloss',  'hoursperweek',  'native_Cambodia',  'native_Canada',  'native_China',  'native_Columbia',  'native_Cuba',  'native_Dominican-Republic',  'native_Ecuador',  'native_El-Salvador',  'native_England',  'native_France',  'native_Germany',  'native_Greece',  'native_Guatemala',  'native_Haiti',  'native_Honduras',  'native_Hong',  'native_Hungary',  'native_India',  'native_Iran',  'native_Ireland',  'native_Italy',  'native_Jamaica',  'native_Japan',  'native_Laos',  'native_Mexico',  'native_Nicaragua',  'native_Outlying-US(Guam-USVI-etc)',  'native_Peru',  'native_Philippines',  'native_Poland',  'native_Portugal',  'native_Puerto-Rico',  'native_Scotland',  'native_South',  'native_Taiwan',  'native_Thailand',  'native_Trinadad&Tobago',  'native_United-States',  'native_Vietnam',  'native_Yugoslavia',  'race_Amer-Indian-Eskimo',  'race_Asian-Pac-Islander',  'race_Black',  'race_Other',  'race_White',  'relationship_Husband',  'relationship_Not-in-family',  'relationship_Other-relative',  'relationship_Own-child',  'relationship_Unmarried',  'relationship_Wife',  'occupation_Adm-clerical',  'occupation_Armed-Forces',  'occupation_Craft-repair',  'occupation_Exec-managerial',  'occupation_Farming-fishing',  'occupation_Handlers-cleaners',  'occupation_Machine-op-inspct',  'occupation_Other-service',  'occupation_Priv-house-serv',  'occupation_Prof-specialty',  'occupation_Protective-serv',  'occupation_Sales',  'occupation_Tech-support',  'occupation_Transport-moving',  'maritalstatus_Divorced',  'maritalstatus_Married-AF-spouse',  'maritalstatus_Married-civ-spouse',  'maritalstatus_Married-spouse-absent',  'maritalstatus_Never-married',  'maritalstatus_Separated',  'maritalstatus_Widowed',  'education_10th',  'education_11th',  'education_12th',  'education_1st-4th',  'education_5th-6th',  'education_7th-8th',  'education_9th',  'education_Assoc-acdm',  'education_Assoc-voc',  'education_Bachelors',  'education_Doctorate',  'education_HS-grad',  'education_Masters',  'education_Preschool',  'education_Prof-school',  'education_Some-college',  'workclass_Federal-gov',  'workclass_Local-gov',  'workclass_Private',  'workclass_Self-emp-inc',  'workclass_Self-emp-not-inc',  'workclass_State-gov',  'workclass_Without-pay',  'Salary']]
SalaryData_Test_Dummies_mm

,age,educationno,sex,capitalgain,capitalloss,hoursperweek,native_Cambodia,native_Canada,native_China,native_Columbia,...,education_Prof-school,education_Some-college,workclass_Federal-gov,workclass_Local-gov,workclass_Private,workclass_Self-emp-inc,workclass_Self-emp-not-inc,workclass_State-gov,workclass_Without-pay,Salary
0,0.109589,0.400000,0,0.000000,0.0,0.397959,0,0,0,0,...,0,0,0,0,1,0,0,0,0,<=50K
1,0.287671,0.533333,0,0.000000,0.0,0.500000,0,0,0,0,...,0,0,0,0,1,0,0,0,0,<=50K
2,0.150685,0.733333,0,0.000000,0.0,0.397959,0,0,0,0,...,0,0,0,1,0,0,0,0,0,>50K
3,0.369863,0.600000,0,0.076881,0.0,0.397959,0,0,0,0,...,0,1,0,0,1,0,0,0,0,>50K
4,0.232877,0.333333,0,0.000000,0.0,0.295918,0,0,0,0,...,0,0,0,0,1,0,0,0,0,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15055,0.219178,0.800000,0,0.000000,0.0,0.397959,0,0,0,0,...,0,0,0,0,1,0,0,0,0,<=50K
15056,0.301370,0.800000,1,0.000000,0.0,0.357143,0,0,0,0,...,0,0,0,0,1,0,0,0,0,<=50K
15057,0.287671,0.800000,0,0.000000,0.0,0.500000,0,0,0,0,...,0,0,0,0,1,0,0,0,0,<=50K
15058,0.369863,0.800000,0,0.054551,0.0,0.397959,0,0,0,0,...,0,0,0,0,1,0,0,0,0,<=50K
15059,0.246575,0.800000,0,0.000000,0.0,0.602041,0,0,0,0,...,0,0,0,0,0,1,0,0,0,>50K

In [38]:
array_test_mm = SalaryData_Test_Dummies_mm.values
X_test_mm = array_test_mm[:,0:101]
Y_test_mm = array_test_mm[:,101]
Y_test_mm

array(['<=50K', '<=50K', '>50K', ..., '<=50K', '<=50K', '>50K'],
      dtype=object)

In [39]:
array_test = SalaryData_Test_Dummies.values
X_test = array_test[:,0:101]
Y_test = array_test[:,101]
Y_test

array(['<=50K', '<=50K', '>50K', ..., '<=50K', '<=50K', '>50K'],
      dtype=object)

In [40]:
# making predictions on the testing set
y_pred = gnb.predict(X_test)

In [41]:
# making predictions on the testing set
y_pred_mm = gnb_mm.predict(X_test_mm)

In [42]:
# comparing actual response values (y_test) with predicted response values (y_pred)
from sklearn import metrics
print("Gaussian Naive Bayes model accuracy(in %):", metrics.accuracy_score(Y_test, y_pred)*100)

Gaussian Naive Bayes model accuracy(in %): 75.4316069057105

In [43]:
print("Gaussian Naive Bayes model accuracy(in %):", metrics.accuracy_score(Y_test_mm, y_pred_mm)*100)

Gaussian Naive Bayes model accuracy(in %): 57.52324037184595

In [44]:
#BernoulliNB
from sklearn.naive_bayes import BernoulliNB
bnb = BernoulliNB()
bnb.fit(X, Y)

BernoulliNB()

In [45]:
#BernoulliNB
from sklearn.naive_bayes import BernoulliNB
bnb_mm = BernoulliNB()
bnb_mm.fit(X_mm, Y_mm)

BernoulliNB()

In [46]:
# making BernoulliNB predictions on the testing set
y_bnb_pred = gnb.predict(X_test)

In [47]:
# comparing actual response values (y_test) with predicted response values (y_pred)
print("Bernoulli Naive Bayes model accuracy(in %):", metrics.accuracy_score(Y_test, y_bnb_pred)*100)

Bernoulli Naive Bayes model accuracy(in %): 75.4316069057105

In [48]:
# making BernoulliNB predictions on the testing set
y_bnb_pred_mm = gnb.predict(X_test_mm)

In [49]:
# comparing actual response values (y_test) with predicted response values (y_pred)
print("Bernoulli Naive Bayes model accuracy(in %):", metrics.accuracy_score(Y_test_mm, y_bnb_pred_mm)*100)

Bernoulli Naive Bayes model accuracy(in %): 75.4316069057105

In [50]:

#ComplementNB
from sklearn.naive_bayes import ComplementNB
cnb_mm = ComplementNB()
cnb_mm.fit(X_mm, Y_mm)

ComplementNB()

In [51]:
# making ComplementNB predictions on the testing set
y_cnb_mm_pred = cnb_mm.predict(X_test_mm)
# comparing actual response values (y_test) with predicted response values (y_pred)
print("Bernoulli Naive Bayes model accuracy(in %):", metrics.accuracy_score(Y_test_mm, y_cnb_mm_pred)*100)

Bernoulli Naive Bayes model accuracy(in %): 76.27490039840637

In [52]:

#CategoricalNB
from sklearn.naive_bayes import CategoricalNB
canb_mm = CategoricalNB()
canb_mm.fit(X_mm, Y_mm)

CategoricalNB()

In [53]:
# making CategoricalNB predictions on the testing set
y_canb_mm_pred = canb_mm.predict(X_test_mm)
# comparing actual response values (y_test) with predicted response values (y_pred)
print("Bernoulli Naive Bayes model accuracy(in %):", metrics.accuracy_score(Y_test_mm, y_canb_mm_pred)*100)

Bernoulli Naive Bayes model accuracy(in %): 76.31474103585657

In [54]:

#MultinomialNB
from sklearn.naive_bayes import MultinomialNB
mnb_mm = MultinomialNB()
mnb_mm.fit(X_mm, Y_mm)

MultinomialNB()

In [55]:
# making ComplementNB predictions on the testing set
y_mnb_mm_pred = mnb_mm.predict(X_test_mm)
# comparing actual response values (y_test) with predicted response values (y_pred)
print("MultinomialNB Naive Bayes model accuracy(in %):", metrics.accuracy_score(Y_test_mm, y_mnb_mm_pred)*100)

MultinomialNB Naive Bayes model accuracy(in %): 79.66135458167331